@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.footer-link {
  color: black !important;
}

.Content-container {
  display: grid;
  height: 100%;

  grid-auto-rows: minmax(120px, auto);
}

.content {
  margin: 0 10% 0 10%;
}

.content-text {
  line-height: 1.4;
}

.nav-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.nav-item {
  cursor: pointer;
}

.footer-nav-item {
  cursor: pointer;
}

#header-bg {
  background-image: url("../assets/Header/BG.png");
  max-width: 100vw;
  background-size: cover;
}

#features-bg {
  background-image: url("../assets/Content/features/BG1.png");
  height: 670px;
  max-width: 100vw;
  background-size: cover;
}

#cta-bg {
  background-image: url("../assets/Content/cta/BG.png");
  height: 400px;
  max-width: 100vw;
  background-size: cover;
}

#footer-bg {
  background-image: url("../assets/Footer/BG.png");
  max-width: 100vw;
  background-size: cover;
}

/* HEADER */

.header-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}

 .header-logo {
   margin: 30px 0 30px 0;
 }

.header-logo-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
  align-content: center;
}

.header-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 20%;
  grid-gap: 8%;

  color: white;
  align-content: center;
  justify-content: end;
}

.nav-burger {
  display: none;  
}

/* BANNER */

.banner-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(300px, auto) minmax(10px, 70%);
}

.banner-img-container {
  font-size: 0px;
  grid-row: span 2;
  text-align: right;
}

.banner-img {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, 0.3);
  border-radius: 55px 55px 0px 0px;
  margin: 0 50px 0 0
}

.banner-title {
  margin-bottom: 20px !important;
}

.banner-content {
  color: white;
  margin-bottom: 5%;
  height: 100%;
}

.banner-inputs {
  grid-column: 2 / -1;

  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: minmax(60px, 30%) minmax(20px, 70%);
}

#banner-input {
  height: 45px;
  width: 85%;
  padding-left: 30px;

  border-radius: 25px;
  border-width: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#banner-button {
  height: 47px;
  width: 130px;
  
  border-radius: 25px;
  border-width: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: orangered;
  color: white;
}

 .banner-input-subtxt {
   color: lightgrey;
   font-size: 12px;
   grid-column: span 2;
 }

/* INTRO */

.intro-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);
}

.intro-container {
  margin: 8% 0 8% 0
}

.intro-title {
  margin-right: 20%;
  margin-bottom: 5%;
}

.intro-text {
  margin-right: 20%;
  font-size: 17px;
}

.intro-image {
  grid-row: span 3;
}

#intro-image {
  max-width: 100vw;
  height: auto;
}

.section-title {
  font-size: 40px;
  margin-bottom: 5px;
}

/* FEATURES */

.features-container {
  margin-top: 7%;
}

.features-grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(50px, auto);
}

.features-title {
  text-align: center;
  margin: 0 3% 5% 3%;
}

.features-content {
  display: grid;
  grid-template-columns: 22% 10% auto 10% 22%;
  grid-auto-rows: minmax(180px, auto);
  grid-gap: 10px;
  justify-content: center;
}

.feature {
  line-height: 1.4;
  margin-top: 20px;
}

.feature-main-image {
  grid-row: span 3;
}

.feature-img {
  text-align: center;
  margin-top: 30px;
}

#feature-img {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
}

.fc-1, .fc-3 {
  text-align: right;
}

.fi-1, .fi-3 {
  margin-right: 50px;
}

.fi-2, .fi-4 {
  margin-left: 60px;
}

/* STATISTICS */

.statistics-container {
  margin: 30vh 0 5% 0;
}

.statistics-grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(50px, auto);

  justify-items: center;
}

.statistics-title {
  text-align: center;
}

#statistics-image {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin: 8% 0 8% 0;
}

/* CTA */

.cta-container {
  margin: 9vh 0 10% 0;
}

.cta-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(50px, auto);

  justify-content: center;
}

.cta-title {
  color: white;
  text-align: center;
}

.cta-input {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  grid-gap: 20px;

  margin: 7% 0 5% 0;
}

#cta-input {
  height: 45px;
  width: 350px;
  padding-left: 30px;

  border-radius: 25px;
  border-width: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#cta-button {
  height: 47px;
  width: 150px;

  border-radius: 25px;
  border-width: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: orangered;
  color: white;
}

/* FOOTER */

.footer-container {
  margin: 10% 0 10% 0;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(50px, auto);
  justify-content: center;
}

.footer-img {
  text-align: center;
}

.footer-nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 5%;

  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-soc-med {
  display: grid;
  align-content: center;
  justify-content: center;
}

.footer-copyright {
  text-align: center;
}

/* BURGER NAV STYLES */

.bm-burger-button {
  display: none;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background-image: url("../assets/Content/features/BG.png");
  background-size: cover;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: block;
  padding: 10px;  
}

@media (max-width: 1200px) {
  
  .fi-2, .fi-4 {
    margin-left: 50px;
    margin-right: 20px;
  }

}

/* RESPONSIVE @ 1100px */

@media (max-width: 1100px) {

  .Content-container {
    width: auto;
  }

  .content {
    margin: 0 0 0 0;
  }

  #header-bg {
    background-image: url("../assets/Header/BGMobile.png");
    background-size: cover;
  }
  
  #features-bg {
    background-size: cover;
    height: 1100px;
  }
  
  #cta-bg {
    background-image: url("../assets/Content/cta/BGMobile.png");
    background-size: cover;
    height: 400px;
  }
  
  #footer-bg {
    background-size: cover;
  }

  .header-container {
    margin-left: 5vw;
    grid-template-columns: 45vw 45vw;
  }

  .header-nav {
    grid-gap: 2vw;
  }
  
  #header-logo {
    width: auto;
    height: auto;
  }

  .nav-item {
    display: none;
    cursor: pointer;
  }

  .nav-burger {
   display: block; 
  }

  .banner-container {
    margin-left: 5vw;
    grid-template-columns: 90vw;
    grid-auto-rows: auto;
    grid-template-areas: 
      "text"
      "input"
      "image";
  }

  .banner-content {
    font-size: 18px;
    grid-area: text;
  }

  .banner-img-container {
    font-size: 0px;
    grid-area: image;
    text-align: center;
  }

  .banner-img {
    width: auto;
    height: auto;
    margin-right: 0px;
  }

  .banner-inputs {
    grid-area: input;
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;

    grid-template-columns: 100%;
    grid-auto-rows: auto;
  }

  #banner-input {
    width: 70%;
  }

  #banner-button {
    min-width: 150px;
  }

  .banner-input-subtxt {
    grid-column: 1/1;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .intro-grid-container {
    margin-left: 5vw;
    grid-template-columns: 90vw;
  }

  .intro-title {
    margin-right: 0;
  }

  #intro-image {
    width: auto;
    height: auto;
  }
  
  .intro-text {
    text-align: left;
    margin-right: 0;
  }

  .intro-image {
    margin-bottom: 30px;
    text-align: center;
  }

  .features-content {
    margin: 0 5vw 0 5vw;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "fi1 fc1"
      "fi2 fc2"
      "fi3 fc3"
      "fi4 fc4"
      "fimage fimage";
  }

  .feature-main-image {
    grid-row: span 1;
    grid-column: span 2;
    grid-area: fimage;

    margin-top: 20px;
    text-align: center;
    font-size: 0px;
  }

  .feature {
    line-height: 1.3;
  }

  #feature-img {
    width: auto;
    height: auto;
  }

  .fc-1, .fc-3 {
    text-align: left;
  }

  .fi-1, .fi-3 {
    margin-right: 20px;
  }
  
  .fi-2, .fi-4 {
    margin-right: 20px;
    margin-left: 0px;
  }

  .fi-1 {
    grid-area: fi1;
  }
  
  .fi-2 {
    grid-area: fi3;
  }

  .fi-3 {
    grid-area: fi2;
  }

  .fi-4 {
    grid-area: fi4;
  }

  .fc-1 {
    grid-area: fc1;
  }

  .fc-2 {
    grid-area: fc3;
  }

  .fc-3 {
    grid-area: fc2;
  }

  .fc-4 {
    grid-area: fc4;
  }

  .section-title {
    font-size: 30px;
  }

  .statistics-image {
    text-align: center;
  }

  #statistics-image {
    content: url("../assets/Content/statistics/GraphMobile.png");

    width: auto;
    height: auto;
    margin: 15% 0 8% 0;
  }

  .cta-grid-container {
    margin-left: 5vw;
    grid-template-columns: 90vw;

  }

  .cta-input {
    grid-template-columns: 100%;
    justify-items: center;
  }

  #cta-input {
    width: 60%;
  }

  #cta-button {
    min-width: 150px;
  }
  
  .footer-grid-container {
    margin-left: 5vw;
    grid-template-columns: 90vw;
  }

  #footer-img {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }

  .footer-nav {
    grid-template-columns: 100%;
    text-align: center;
  }

  .footer-nav-item {
    margin-bottom: 10px;
  }

}

@media (max-width: 580px) {

  #intro-image {
    width: 90%;
  }

  .statistics-container {
    margin: 35vh 0 5% 0;;
  }

}

@media (max-width: 575px) {

  #features-bg {
    background-size: cover;
    height: 1300px;
  }
  
  #banner-input {
    width: 90%;
  }

  .banner-inputs {
    text-align: left;
  }

  .banner-img {
    width: 80%;
    border-radius: 40px 40px 0px 0px;
  }

  #intro-image {
    width: 90%;
  }

  .intro-container {
    margin: 12% 0 12% 0;
  }

  #feature-img {
    width: 80%;
  }

  .statistics-container {
    margin: 150px 0 5% 0;;
  }

  #statistics-image {
    width: 100%;
  }

  #footer-img {
    width: 30vw;
  }

}

@media (max-width: 375px) {

  #features-bg {
    height: 1200px;
  }

}

// @media (max-height: 721px) {
//   .statistics-container {
//     margin: 280px 0 5% 0;
//   }
// }

@media (max-width: 281px) and (max-height: 690px) { 
  .statistics-container {
    margin: 35vh 0 5% 0;
  }
  #features-bg {
    height: 1350px;
  }
}